* {
    background-color: #fae7ea;
}
#cookie-policy {
    border: black solid 3px;
    margin: auto;
    width: 55%; 
    padding: 10px;
    text-align: center;
    font-family: "Arial", sans-serif;
    color: black;
}
#politica-de-cookies {
    font-size: medium;
}

.carousel-caption {
    ;
}
.container-fluid {
    background-color: ;
}
.nav-item .navbar-brand { 
    background-color: #b54a63;
        background-color:;
}